node_modules
**/node_modules
**/dist
**/.git
**/.cursor
**/coverage
**/*.log
.env
.env.*
!.env.example
!**/.env.example
apps/mobile
infra/local/postgres
infra/local/data
infra/local/*.jar
infra/local/*.txz
**/*.zip
structure.txt
.gitignore
*.md
terminals
