# Dependencies
node_modules/
.pnp
.pnp.js

.next/
apps/admin/.next/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / coverage
coverage/
.nyc_output/

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/**/Generated.xcconfig
apps/mobile/**/flutter_export_environment.sh
apps/mobile/**/ephemeral/
apps/mobile/**/.symlinks/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/android/**/GeneratedPluginRegistrant.java
apps/mobile/**/*.iml
apps/mobile/.metadata

# Docker
infra/docker/volumes/
